* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 222, 112);
}

header {
    background-color: rgb(255, 162, 23);
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    background-color: rgb(255, 199, 94);
    overflow: hidden;
}

nav a {
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(255, 182, 47)
}

nav .submenu {
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}


  
/* The dropdown container */
.submenu {
    float: left;
    overflow: hidden;
}
/* Dropdown button */
.submenu .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.menuoptions {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.menuoptions a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Show the dropdown menu on hover */
.submenu:hover .menuoptions {
    background-color: rgb(255, 199, 94);
    display: block;
} 

.submenu:hover {
    background-color: rgb(255, 182, 47)
}


.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 15%;
    background-color: rgb(231, 201, 67);
    padding: 20px;
}

section {
    flex: 70%;
    background-color: rgb(255, 222, 112);
    padding: 20px;
}

.placeholder {
    background-color: rgb(231, 201, 67);
    width: 100%;
    padding: 0px;
}

.main {
    height: 200px;
}

.sub {
    height: 75px;
}

.placeholder img {
    padding: 10px;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(231, 201, 67);
}

fieldset {
	float: right;
    width: 100%;
    background-color: rgb(255, 199, 94);
}

@media screen and (max-midth: 700px) {
    .row,
    nav {
        flex-direction: column;
    }
}



/* Style inputs taken from W3 schools but used on my own html code and edited the CSS*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: rgb(202, 138, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(145, 99, 0);
}
  


  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}





